<div class="container mx-auto p-4">
  <h1 class="text-3xl font-semibold text-center mb-8">Search Posts</h1>

  <!-- Search Bar -->
  <div class="flex justify-center space-x-4 mb-6">
    <input type="text" [(ngModel)]="searchQuery" (input)="onSearchChange(searchQuery)"
      class="w-1/3 p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-500"
      placeholder="Search for posts..." />

    <!-- Filters -->
    <select [(ngModel)]="userFilter" (change)="applyFilters()" class="p-2 border border-gray-300 rounded-md">
      <option value="">Filter by User ID</option>
      @for (user of users; track $index) {
      <option [value]="user">User {{ user }}</option>
      }
    </select>

    <select [(ngModel)]="postFilter" (change)="applyFilters()" class="p-2 border border-gray-300 rounded-md">
      <option value="">Filter by Post ID</option>
      @for (post of posts; track $index) {
      <option [value]="post?.id">Post {{ post?.id }}</option>
      }
    </select>
  </div>

  <!-- Loader -->
  @if (loading) {
  <div class="flex justify-center">
    <div class="w-8 h-8 border-t-4 border-blue-500 border-solid rounded-full animate-spin"></div>
  </div>
  }

  <!-- Error Message -->
  @if (error) {
  <div class="text-center text-red-500">
    <p>Error fetching posts. <button (click)="onRetry()" class="text-blue-500">Retry</button></p>
  </div>
  }

  <!-- No Matching Posts -->
  @if (!loading && !error && filteredPosts.length === 0) {
  <div class="text-center text-gray-600">
    <p>No matching posts found. Try modifying your search or filters.</p>
  </div>
  }

  <!-- Results -->
  @if (!loading && !error) {
  <ul class="space-y-4">
    @for (post of filteredPosts; track $index) {
    <li class="p-4 border border-gray-200 rounded-md shadow-sm hover:bg-gray-100">
      <h2 class="font-semibold">{{ post?.title | slice:0:40 }}...</h2>
      <p class="text-gray-600">{{ post?.body | slice:0:80 }}...</p>
    </li>
    }
  </ul>
  }

  <!-- Pagination -->
  @if (filteredPosts.length > 0 && !loading && !error) {
  <div class="flex justify-center mt-4">
    @for (page of getPaginationRange(); track $index) {
    <button (click)="onPageChange(page)" [class.bg-blue-500]="page === currentPage"
      [class.bg-gray-300]="page !== currentPage" class="px-4 py-2 mx-1 rounded-md text-white hover:bg-blue-600">
      {{ page }}
    </button>
    }
  </div>
  }
</div>